<ion-view view-title="Sobre">
  <ion-content class="padding fundo-azul">
    <img src="img/fade.gif" width="45%">
  </p>
  <div>
    <head>
    <style type="text/css">
    .texto{
      color:#00202b;
      width:90%;
      text-align: justify;
    }
    </style>
  </head>
  <body>
    <center>
      <table>
        <h4>O que é o QR-Parking?</h4>
        <p class="texto">
          Aplicação para dispositivos móveis, com funcionalidades que permitem ao usuário
          a obtenção do status em tempo real da sua permanência e valores atribuídos ao serviço,
          bem como o pagamento dos serviços de estacionamento nos centros comerciais e estacionamentos privados.

privados.
        </p>
      </table>
    </center>
  </body>
    </div>
  </ion-content>
</ion-view>
