<ion-view view-title="Sobre">
  <ion-content class="padding fundo-azul">
     <img src="img/fade.gif" width="60%">
   </P>
   <div>
     <head>
     			<style type="text/css">
       				.texto{
       				color:#00202b;
       				width:60%;
       				text-align: justify;
       				}
       				h6{color:#00617e;
       				}
     			</style>
     </head>
     	  <body>
            <center>
     	          <table>
                 		<h6>Por que nós usamos?</h6>
                 			  <p class="texto" >
                       			  É um fato conhecido de todos que um leitor se distrairá com o conteúdo
                            de texto legível de uma página quando estiver examinando sua diagramação.
                 			  </p>
                </table>
 </div>
  </ion-content>
</ion-view>
