<ion-view view-title="Gerar Ticket" hide-nav-bar="true" >
  <ion-content class="padding fundo-ticket">
    <br>
    <div class="col text-center">
      <img src="img/ticket-up.png" width="300px">
    </div>
    <div class="qrCode" id="qrcode"></div>
    <div class="col text-center">
      <img src="img/ticket-down.png" width="300px">
    </div>
  </ion-content>
</ion-view>











<!-- backup

<ion-view view-title="Gerar Ticket" hide-nav-bar="true" >
  <ion-content padding="true">
        <div class="qrCode" id="qrcode"></div>
  </ion-content>
</ion-view>

-->
