.fundo-azul{background:#DEEAF6; display: table !important;width: 100% !important;height: 100% !important;}
.fundo-azul .scroll {display: table-cell;  vertical-align: middle;  text-align: center;}
.textarea{width:60%;}
.obrigatorio{color:#F00;}

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.usuario{background:#f2f2f2!important}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.qrCode{width:256px; margin:auto}

.margem-topo{margin-top:48px;}

.permanencia{color:#999; margin-top:15px!important;}

.total-pagar, .total-pagar .item-note{color: #0F5501!important; font-weight:bold; font-size:18px;}

.popup-cartao .popup-buttons
{
    float:left;
}

.adicionar-cartao{position:absolute; top:0; right:0; background: inherit!important;}
