.fundo-ticket{background:#ffffff; display: table !important;width: 100% !important;height: 100% !important;}
.fundo-azul{background:#DEEAF6; display: table !important;width: 100% !important;height: 100% !important;}
.fundo-azul .scroll {display: table-cell;  vertical-align: middle;  text-align: center;}
.textarea{width:60%;}
.obrigatorio{color:#F00;}

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.usuario{background:#f2f2f2!important}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.qrCode{width:256px; margin:auto}

.margem-topo{margin-top:48px;}

.permanencia{color:#999; margin-top:15px!important;}

.total-pagar, .total-pagar .item-note{color: #0F5501!important; font-weight:bold; font-size:18px;}

.popup-cartao .popup-buttons
{
    float:left;
}

.adicionar-cartao{position:absolute; top:0; right:0; background: inherit!important;}

h4{color:#387ef5!important; font-size:20px!important; font-weight:bold;}

.popup .row{margin-left:0px!important}

.ionic_datepicker_popup .popup-buttons button{background:#387ef5!important}
.ionic_datepicker_popup .popup-body .selected_date_full{background:#387ef5!important}
.ionic_datepicker_popup .selected_date{background:#387ef5!important}
.ionic_datepicker_popup .today{background:#387ef5!important; border:none!important;}
.ionic_datepicker_popup .popup-body .button-clear{color:#387ef5!important;}
.ionic_datepicker_popup .popup-body .month_select, .ionic_datepicker_popup .popup-body .year_select{border-bottom: 1px solid #387ef5!important;}
.ionic_datepicker_popup .popup-body .month_select:after, .ionic_datepicker_popup .popup-body .year_select:after{color:#387ef5!important;}

.filtros input[type=text]{background:#f2f2f2; width:100%; border-radius: 5px; padding: 10px; border:1px solid #ccc;}
.filtros .col-50{max-width:38%; margin-left:2px;}
.filtros .col-20{text-align: center;}

.pagination{margin-top:0!important;}

.camera{position: absolute; width: 100%; height:100%}
